@charset "UTF-8";

a {
    text-decoration: none;
}

/* 大きな背景画像 */
.big-bg{
    background-size: cover;
    background-position: center top;
}
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}

/* HOME */
.home-content{
    text-align: center;
    margin-top: 10%;
}

/* ボタン */
.button{
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover{
    background: #0090aa;
}