@charset "UTF-8";

/* 大きな背景画像 */
.big-bg{
    background-size: cover;
    background-position: center top;
}
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}